<!--<% cache( :controller => "definities", :part => "recent_toegevoegd_block" ) do %>

	<div class="block">
		<h2><a href="/definities/recent">Recente toevoegingen</a> <a href="/recent.xml"><img src="/images/rss.png" alt="RSS"/></a></h2>
		<% date = ""
		for @definition in @recent_toegevoegd
					newdate = localize( @definition.versions.first.updated_at )
					if( newdate != date )
						date = newdate %>
						<h3><%= date %></h3>
					<% end %>
			<%= link_to @definition.word, :controller => 'definities', :action => 'term', :id => @definition.word %><br/>
			<div class="captioninline">&#187;
				<% if @definition.description.length > 20 %>
					<%= @definition.description[0..16]%>...
				<% else %>
					<%= @definition.description%>
				<% end %>
			</div>
			<br/>
		<% end %>
	</div>

<% end %>

<% cache( :controller => "definities", :part => "recent_gewijzigd_block" ) do %>

	<div class="block">
		<h2><a href="/definities/wijzigingen">Recente wijzigingen</a> <a href="/wijzigingen.xml"><img src="/images/rss.png" alt="RSS"/></a></h2>
		<% date = ""
		for @definition_version in @recent_gewijzigd
					newdate = localize( @definition_version.updated_at )
					if( newdate != date )
						date = newdate %>
						<h3><%= date %></h3>
					<% end %>
			<%= link_to @definition_version.definition.word, :controller => 'definities', :action => 'term', :id => @definition_version.definition.word %><br/>
			<div class="captioninline">&#187; door <%=link_to @definition_version.editor.login, :controller => 'gebruiker', :action => 'toon', :id => @definition_version.editor.login %></div>
			<br/>
		<% end %>
	</div>

<% end %>

<% cache( :controller => "definities", :part => "recent_reactions_block" ) do %>
	<div class="block">
		<h2><a href="/definities/reacties">Recente reacties</a></h2>
			<%
				for @reaction in @recent_reactions
			%>
					<%= link_to @reaction.definition.word, :controller => 'definities', :action => 'toon', :id => @reaction.definition %><br/>
					<div class="captioninline">&#187;
						<% if @reaction.title == "" %>
							<% if @reaction.body.length > 20 %>
								<%=h( @reaction.body[0..16] )%>...
							<% else %>
								<%=h( @reaction.body )%>
							<% end %>
						<% else %>
							<%=h( @reaction.title )%>
						<% end %>
					</div>
					<br/>
			<% end %>
	</div>

<% end %>
-->
