<div class="formfield" style="border: solid #ccc 1px;margin: 0px 0px 5px 10px; padding: 0px 10px 0px 10px; background: #fff; color: #666;">
	<p><b>
		<%= reaction.title %>
	</b></p>
	<%=textilize( reaction.body ).gsub(/\[(.*?)\]/, '<a href ="/definities/term/\1">\1</a>' )%>
	<div class="caption">
			Toegevoegd door <a href="/gebruiker/toon/<%= reaction.creator.login %>"><%= reaction.creator.login %></a> 
			op <%= localize( reaction.created_at, format = "%d %b %Y %H:%M" )%>
			<% if logged_in? %>
				<% if current_user.admin? %>
					&nbsp;|&nbsp; <span style="background-color:#f00"><%= link_to "verwijder", :controller => 'definities', :action => "verwijder_reactie", :id => reaction%></span>
				<% end %>
			<% end %>
	</div>
</div>
