<p>
  <%= link_to 'Wees welgekomen', root_path %>
  | <%= link_to 'Willekeurig', random_definitions_path %>
  | <%= link_to 'Top woorden', top_definitions_path %>
  | <%= link_to 'Recent', recent_definitions_path %>
  <% if logged_in? %>
  | <%= link_to 'Voeg een term toe', new_definition_path %>
  <% end %>
</p>
