<% unless @definitions.empty? %>
  <p>Onze databank bevat de volgende beschrijving(en) van "<%=@term%>"</p>
  <% @definitions.each do |definition| %>
    <%= render partial: "definition", object: definition %>
  <% end %>
<% else %>
  <p>Er zijn nog geen beschrijvingen van "<%= @term %>" in onze databank.</p>
<% end %>

<h2>Voeg een nieuwe beschrijving toe aan onze databank!</h2>

<p>Weet ge nog een andere betekenis voor deze term? Als ingelogd gebruiker kunt ge uw eigen beschrijvingen van Vlaamse woorden en
uitspraken in onze databank aanvullen. Om fouten te verbeteren klikt ge bij de bovenstaande definities op de "bewerk" link, en om te
reageren op een definitie klikt ge op de "reacties" link.</p>

<% if logged_in?
  @definition = Definition.new
  @definition.word = @term
  form_tag :action => 'creeer' do %>
    <%= render :partial => 'form' %>
    <%= submit_tag "Voeg mijn definitie toe" %>
  <% end
  else %>

  <%= render :partial => "account/login" %>

<% end %>
