<p>Dit is slechts 1 definitie  voor "<%= @definition.word %>."
<%= link_to "Bekijk alle definities", term_definitions_path(term: @definition.word) %>.</p>

<%= render partial: "definition", object: @definition %>

<% if logged_in? && current_user.admin? %>
	<div class="block-admin">
		<h3>Markeer als woord van de dag</h3>
		<p>
			<% if @wotds.size > 0 %>
				Dit woord was reeds wotd op
				<% for @wotd in @wotds %>
					<%= @wotd.date %>
				<% end %>
			<% end %>
		</p>
		<%= form_tag new_wotd_definition_path(@definition) do %>
			<%= select_tag 'date', options_for_select(@wotd_dates) %>
	  	<%= submit_tag "Woord van de dag!" %>
		<% end %>
	</div>
<% end %>

<h2>Reacties</h2>

<% if @definition.reactions.size > 0 %>
	<% @definition.reactions.each do |reaction| %>
		<%= render partial: 'reaction', object: reaction %>
	<% end %>
<% else %>
	<p>Er zijn nog geen reacties op deze beschrijving.</p>
<% end %>

<h2>Voeg een reactie toe</h2>

<p>Ingelogde gebruikers kunnen reacties aan deze definitie toevoegen.</p>

<% if logged_in? %>
	<%= form_for Reaction.new, url: post_reaction_definition_path(@definition) do |form| %>
	  <%= render :partial => 'reactionform', object: form %>
	  <%= submit_tag "Voeg mijn reactie toe" %>
	<% end %>
<% else %>

	<%= render :partial => "account/login" %>

<% end %>
