<p>
  Dagelijks kiezen we een woord van de dag, uit de vele plezante woorden die in dit Vlaams woordenboek terug te vinden zijn.
  Het Vlaams woord van de dag is ook beschikbaar als
  <%= link_to wotd_definitions_path(format: 'xml') do %>
    RSS Feed <%= image_tag 'rss', alt: 'RSS' %>
  <% end %>
</p>

<% if logged_in? && current_user.admin? %>
  <div class="block-admin">
    <h3>Wachtrij</h3>
    <ul>
      <% @upcoming_words.each do |wotd| %>
        <li><%= localize wotd.date, "%d %B %Y" %>: <%= link_to definition_path(wotd.definition) %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<% @wotds.each_with_index do |wotd, counter| %>
  <h2>#<%= @offset.to_i + counter + 1 %> <%= localize wotd.date, "%d %B %Y" %>: <%= wotd.definition.word %></h2>
  <%= render partial: 'definition', object: wotd.definition %>
<% end %>

<p>
<a href="/definities/woordvandedag?offset=<%= @offset.to_i + 10 %>">Meer ...</a>
</p>
