<% new_definition = @definition %>

<% if @definitions.size > 0 %>
	<p>Uw vraag naar "<%= @zoekquery %>" leverde de volgende resultaten op:</p>
	<% for @definition in @definitions %>
		<%= render(:partial => "definition") %>
	<% end %>
<% else %>
	<p>Uw vraag naar "<%= @zoekquery %>" leverde helaas geen resultaten op.</p>
<% end %>

<h2>Voeg een nieuw item toe aan onze databank!</h2>

<p>Niet gevonden wat ge zocht? Als ingelogd gebruiker kunt ge hier vanalle vlaamstalige dingens en hun betekenis toevoegen aan onze databank.</p>

<% if logged_in? %>

	<% 
		@definition = new_definition 
		@definition.word = @zoekquery
	%>

	<% form_tag :action => 'creeer' do %>
	  <%= render :partial => 'form' %>
	  <%= submit_tag "Voeg mijn definitie toe" %>
	<% end %>

<% else %>

	<%= render :partial => "account/login" %>

<% end %>