<div id="block">
  <div class="caption">
    Bericht van
    <%= link_to @message.sender.login, user_path(@message.sender.login) %>
    voor
    <%= link_to @message.receiver.login, user_path(@message.receiver.login) %>
    verstuurd op
    <%= localize( @message.created_at, format = "%d %b %Y %H:%M" )%>
  </div>

  <%= format_user_content(@message.body) %>
</div>

<h2>Stuur een antwoord</h2>

<%= form_for Message.new(title: "re: #{@message.title}", receiver: @message.sender), url: posts_path do |form| %>
  <%= render partial: 'form', object: form %>
<% end %>
