<%= form_for @user, url: account_path do |f| -%>
  <div class="formfield">
    <label for="login">Gebruikersnaam</label>
    <div class="caption">
      Kies een gebruikersnaam
    </div>
    <%= f.text_field :login %>
  </div>

  <div class="formfield">
    <label for="email">E-mail</label>
    <div class="caption">
      Uw e-mail adres
    </div>
    <%= f.text_field :email %>
  </div>

  <div class="formfield">
    <label for="password">Paswoord</label>
    <div class="caption">
      Kies een uniek paswoord
    </div>
    <%= f.password_field :password %>
  </div>

  <div class="formfield">
    <label for="password_confirmation">Bevestiging paswoord</label>
    <div class="caption">
      Herhaal het paswoord om te bevestigen
    </div>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="formfield">
    <label for="password_confirmation">Registreer nu</label>
    <div class="caption">
      - Uw persoonlijke gegevens (zoals e-mail adres) worden niet vrijgegeven<br/>
      - U gaat akkoord met onze Algemene voorwaarden
    </div>
    <%= submit_tag 'Akkoord!' %>
  </div>
<% end -%>
