<div class="caption">Geregistreerd sinds <%= localize( @user.created_at ) %></div>

<% if logged_in? && @user != current_user %>
	<p>&#187; <%= link_to "Schrijf een bericht naar deze gebruiker", new_post_path(to: @user.login) %></p>
<% end %>

<% if !@user.details.blank? %>
	<h2>Over mezelf</h2>
	<%= format_user_content(@user.details) %>
<% else %>
	<% if logged_in? && @user == current_user %>
		<h2>Over mezelf</h2>
		In uw <%= link_to( "instellingen", edit_account_path) %> kunt ge iets schrijven over
		uzelf, en dat wordt dan hier weergegeven.
	<% end %>
<% end %>

<h2>Recentste wijzigingen</h2>

<p><%= link_to "Bekijk alle (#{@user.definition_versions.size}) wijzigingen van deze gebruiker.", edits_user_path(@user.login) %></p>

<% if @definition_versions.size > 0 %>

	<% @definition_versions.each do |definition_version| %>
		<% if definition_version.definition %>
			<%= render partial: "definities/definition_version", object: definition_version %>
		<% end %>
	<% end %>

<% else %>

	<p>Deze gebruiker heeft nog geen bijgedragen geleverd aan het Vlaams woordenboek.</p>

<% end %>

<h2>Recente reacties</h2>

<p><%= link_to "Bekijk alle (#{@user.reactions.size}) reacties van deze gebruiker.", reactions_user_path(@user.login) %></p>

<% if @reactions.size > 0 %>

	<% @reactions.each do |reaction| %>
		<% if reaction.definition %>
			<h2><%= link_to reaction.definition.word, definition_path(reaction.definition) %></h2>
			<%= render partial: "definities/reaction", object: reaction %>
		<% end %>
	<% end %>

<% else %>

	<p>Deze gebruiker heeft nog geen reacties geschreven.</p>

<% end %>
