<p>
	<%= link_to 'Achtergrond', info_path %> &nbsp;|&nbsp;
	<%= link_to "Updates", updates_info_path %> &nbsp;|&nbsp;
	<%= link_to "Provincies en Regio's", regios_info_path %> &nbsp;|&nbsp;
	<%= link_to "RSS Feeds", feeds_info_path %> &nbsp;|&nbsp;
	<%= link_to "Contact", contact_info_path %>
</p>
