<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta property="fb:admins" content="544031756" />
	<title>Het Vlaams woordenboek <% if @title %>&#187; <%= @title %><% end %></title>
	<%= stylesheet_link_tag 'scaffold' %>
	<%= stylesheet_link_tag 'vlaamswoordenboek' %>
	<link rel="alternate" type="application/rss+xml" title="Vlaams woord van de dag" href="/woordvandedag.xml" />
</head>
<body>

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=140695019358024";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<div id="leftcontent">

		<a href="/"><img src="/images/boek.png" style="float:left;padding:10px 10px 0px 10px;" alt="Vlaams Woordenboek logo"/></a>
		<center><h2 style="padding: 10px 0px 0px 0px;"><a href="/" style="color:#333;">Het Vlaams woordenboek</a></h2></center><br/>

		<div class="block">
			<h2>Index</h2>
			<p>
				<a href="/definities/begintmet/a">A</a>
				<a href="/definities/begintmet/b">B</a>
				<a href="/definities/begintmet/c">C</a>
				<a href="/definities/begintmet/d">D</a>
				<a href="/definities/begintmet/e">E</a>
				<a href="/definities/begintmet/f">F</a>
				<a href="/definities/begintmet/g">G</a>
				<a href="/definities/begintmet/h">H</a>
				<a href="/definities/begintmet/i">I</a>
				<a href="/definities/begintmet/j">J</a>
				<a href="/definities/begintmet/k">K</a>
				<a href="/definities/begintmet/l">L</a>
				<a href="/definities/begintmet/m">M</a>
				<a href="/definities/begintmet/n">N</a>
				<a href="/definities/begintmet/o">O</a>
				<a href="/definities/begintmet/p">P</a>
				<a href="/definities/begintmet/q">Q</a>
				<a href="/definities/begintmet/r">R</a>
				<a href="/definities/begintmet/s">S</a>
				<a href="/definities/begintmet/t">T</a>
				<a href="/definities/begintmet/u">U</a>
				<a href="/definities/begintmet/v">V</a>
				<a href="/definities/begintmet/w">W</a>
				<a href="/definities/begintmet/x">X</a>
				<a href="/definities/begintmet/y">Y</a>
				<a href="/definities/begintmet/z">Z</a>
			</p>
		</div>

		<%=render :partial => 'leftcolumn'%>

		<div class="block">
			<%= render :partial => "account/login" %>
		</div>

	</div>

	<div id="centercontent">

		<div id="primarymenu">
			<% if logged_in? %>
				<div style="float:right;"><li><%= link_to 'Nieuw woord', :controller => 'definities', :action => 'nieuw' %></li></div>
			<% else %>
				<div style="float:right;"><li><%= link_to 'Log in', :controller => 'account', :action => 'login'-%></li></div>
			<% end %>
			<ul>
				<li><%= link_to 'Woordenboek', :controller => 'definities' %></li>
				<li><%= link_to 'Woord van de dag', :controller => 'definities', :action => 'woordvandedag' %></li>
				<li><%= link_to 'Gebruikers', :controller => 'gebruiker', :action => 'index' %></li>
				<li><%= link_to 'Info', :controller => 'info', :action => 'index' %></li>
			</ul>
		</div>

		<% if @trail %>
			<p style="float:right;"><%= @trail %></p>
		<% end %>

		<%= render :partial => "secondarymenu"%>

		<div class="block-admin">
		  <p>Omdat ik het Vlaams Woordenboek al enkele jaren niet meer kan onderhouden, wordt er gewerkt aan een nieuwe versie. Helpers zijn welkom in kanaal #vlaamswoordenboek op de <a href="http://discord.nerdland.be">Discord van Nerdland</a>.</p>
		</div>

		<h1>
			<%= @title %>
		</h1>

		<p style="color: green"><%= flash[:notice] %></p>


		<%= yield  %>

	</div>

	<div id="rightcontent">

		<div class="block block-search">
			<p>
				<center>
					<% form_tag :controller => 'definities', :action => 'zoek' do %>
					<%= text_field_with_auto_complete :definition, :word, :size => 15, :value => "" %>
					<%= submit_tag 'Zoek' %>
					<% end %>
				</center>
			</p>
		</div>

		<% if logged_in? && current_user.inbox_size > 0 %>
			<div class="block">
				<h2>Berichten</h2>
				<p>Er zijn nieuwe berichten (<%=current_user.inbox_size%>) in uw <%= link_to 'postvak', :controller => 'post', :action => 'in' %></p>
			</div>
		<% end %>

		<%= render :partial => 'rightcolumn'%>

		<% if logged_in? && current_user.admin? %>
			<%=current_user.admin?%>

			<div class="block-admin">
				<p><center>Ingelogd als admin</center></p>
			</div>

		<% else %>


			<div class="block">
				<p>
				<center>
					<b>Developers gezocht!</b><br/>
					De code achter het Vlaams woordenboek heeft dringend een update nodig.</br>
					Wil je deze website graag mee een nieuw leven geven? Ik zoek een team adoptieouders.<br/>
					Stuur me een <a href="mailto:anthony@liekens.net">e-mailtje</a> als je wil helpen, merci!</br>
				</center>
				</p>
			</div>

			<div class="block">
				<p><center>
					<script type="text/javascript"><!--
						google_ad_client = "pub-7726730941948502";
						google_ad_width = 160;
						google_ad_height = 600;
						google_ad_format = "160x600_as";
						google_ad_type = "text_image";
						//2007-09-16: vlaamswoordenboek
						google_ad_channel = "0642600976";
						google_color_border = "FFFFFF";
						google_color_bg = "FFFFFF";
						google_color_link = "2763A5";
						google_color_text = "444444";
						google_color_url = "AAAAAA";
						google_ui_features = "rc:0";
					//-->
					</script>
					<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>
				</center></p>
			</div>

		<% end %>

	</div>

	<p>
		<center style="color:#aaa;">
			Het Vlaams woordenboek &nbsp;|&nbsp;
			Concept en realisatie door <a href="http://anthony.liekens.net">Anthony Liekens</a> <br/><br/>
			<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br/><br/><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset" property="dct:title" rel="dct:type">Het Vlaams Woordenboek</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://anthony.liekens.net" property="cc:attributionName" rel="cc:attributionURL">Anthony Liekens</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
		</center>
	</p>

	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write("\<script src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'>\<\/script>" );
	</script>
	<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-3231609-1");
	pageTracker._initData();
	pageTracker._trackPageview();
	</script>

</body>
</html>
